#navbar{
    background-color: #EFE1CE;
}

#activenavoption{
    width: 20%;
    border-bottom: 2px solid #9C4722;
}

#navoption{
    width: 20%;
    border-bottom: 2px solid #282D3C;
    color: #282D3C;
}

#navoption:hover{
    border-bottom: 2px solid #9C4722;
}

body{
    background-color: #EFE1CE;
    font-family: 'Merriweather Sans', Arial, serif;
    color: #282D3C;
}

h1{
    color: #282D3C;
    text-align: center;
    letter-spacing: 5px;
}

h4{
    color: #9C4722;
}

#bannertext{
    font-family: 'Merriweather Sans', Arial, serif;
    border-left: 3px solid #9C4722;
    border-top: 3px solid #9C4722;
    border-bottom: 3px solid #9C4722;
    padding: 8px;
    color:#EDF1FF;
    background-color: #282D3C;
    letter-spacing: 5px;
}

#about, #menuappmain, #menudessert{
    border-bottom: 2px solid #282D3C;
}